:root
{
    --pallete1: #b29579;
    --pallete2: #593b23;
    --pallete3: #4057ae;
    --pallete4: #f8ffff;
    --pallete5: #305b4c;
}



#mainBody
{
    margin-top: 1%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows:45px auto 83px;
    
    background-color:var(--pallete4);
}

#Wrapper
{
    grid-column: 2/3;
    grid-row: 2;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;
}

.btn{
    width: 69.3%;
    height: 36%;
}
.btn-success
{
    grid-row: 3;
    grid-column: 2;
    justify-self: right;
    align-self: center;
    width: auto;
    height: 50px;
}
#add
{
    align-self: flex-end;
}

#searchbar
{
    align-content: baseline;
    align-self: center;
    margin-bottom: 1%;
    display: flex;
    grid-row: 1;
    grid-column: 2;
    width: 80%;
}
#myInput
{
	width: 100%;
	border-radius: 8px;
	border: 2px solid #dee2e6;
	height: 40px;
}


#cancel {
	grid-column: 2;
	justify-self: left;
	width: auto;
	/* display: flex; */
	grid-row: 3;
	align-self: flex-end;
	height: 50px;
	align-content: center;
}
.btn-primary
{
    grid-row: 1;
    grid-column: 2;
    float: left;
    align-content: flex-end;
    align-self: center;
    justify-self: end;
    width: auto;
    height: 46px;

}