<head>
  <script src="https://kit.fontawesome.com/9a2b65ee6c.js" crossorigin="anonymous"></script>
</head>
<div id="mainBody">
   
  <button (click)="CargarEditorNuevo()" *ngIf="this.Id == undefined" class="btn btn-primary">
    Agregar 
  </button>
    
  <!--
    ToDo:Hacer que se cierre la alerta cuando se le da click en la cruz(No se por que no funciona)
    <div class="alert alert-primary alert-dismissible fade show">
    Producto Agregado correctamente.
    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
    
    </div>
  -->
  <div id="searchbar">
    <i class="fas fa-search"></i>
    <input type="text" id="myInput" class="form-control-form-control-sm" (keyup) = "Buscar()" type="text" placeholder="Buscar">
  </div>
    
  <div  id="Wrapper">
  
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th *ngIf="this.Id != undefined" scope="col">Agregar</th>
          <th scope="col">#</th>
          <th scope="col">nombre</th>
          <th scope="col">tipo</th>
          <th scope="col">precio</th>
        </tr>
      </thead>

      <!--This activates if it comes from the controller of "Mesas" to add products to an order-->
      <tbody *ngIf="this.Id != undefined && !this.searchMode">
        
        <tr *ngFor="let prod of products">
          <th><input type="checkbox" (change)="GetCheckedElements(prod.productoId,$event.target.checked)"></th>
          <th scope="row" id="primaryKey">{{prod.productoId}}</th>
          <td class ="name">{{prod.nombre}}</td>
          <td class ="type" >{{prod.tipo}}</td>
          <td>$ {{prod.precio|currency:'ARS'}}</td>
        </tr>
      </tbody>
      <!--This is the default case, it will activate all the time if you come here to just edit the products-->
      <tbody *ngIf=" this.Id == undefined && !this.searchMode">
        
        <tr *ngFor="let prod of products">
          <th scope="row">{{prod.productoId}}</th>
          <td><a (click)="CargarEditor(prod.productoId)">{{prod.nombre}}</a></td>
          <td>{{prod.tipo}}</td>
          <td>{{prod.precio}}</td>
        </tr>
        
      </tbody>

      <!--Part to search items-->
      <!--This shows when you are into management products-->
      <tbody *ngIf="this.Id == undefined && this.searchMode">
        
        <tr *ngFor="let prod of productsSearch">
          <th scope="row">{{prod.productoId}}</th>
          <td><a (click)="CargarEditor(prod.productoId)">{{prod.nombre}}</a></td>
          <td>{{prod.tipo}}</td>
          <td>{{prod.precio}}</td>
        </tr>
        
      </tbody>
      <!--And this comes -->
      <tbody *ngIf="this.Id != undefined && this.searchMode">
        
        <tr *ngFor="let prod of productsSearch">
          <th><input type="checkbox" (change)="GetCheckedElements(prod.productoId,$event.target.checked)"></th>
          <th scope="row" id="primaryKey">{{prod.productoId}}</th>
          <td class ="name">{{prod.nombre}}</td>
          <td class ="type" >{{prod.tipo}}</td>
          <td>$ {{prod.precio|currency:'ARS'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button id="add" class="btn btn-success" (click)="AddAllSelectedProds()"*ngIf=" this.Id != undefined">Agregar al pedido</button>
  <button id="cancel" class="btn btn-danger" >Cancelar</button>
              
</div>

            
         
        
        


    
      



