
<div id="wrapper">
    <h1>Mesa 1</h1>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <th scope="row">1</th>
            <td><a>Hamburguesa con queso</a></td>
            
            <td>$300</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a>fideos con salsa</a></td>
            <td>$170</td>
        
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a>fideos con salsa</a></td>
            <td>$170</td>
        
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a >fideos con salsa</a></td>
            <td>$170</td>
        
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a>fideos con salsa</a></td>
            <td>$170</td>
        
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a>fideos con salsa</a></td>
            <td>$170</td>
        
          </tr>
        </tbody>
      </table>


      
    <button id="agregar" class="btn btn-success">Agregar producto</button>
    <button id="cerrar" class="btn btn-success">Cerrar mesa</button>
    <button class="btn btn-danger">Eliminar</button>
</div>

