<h1>Mesa {{mesa.mesaId}}</h1>
<div id="wrapper" >
    
    
    <table class="table table-striped" >
        <thead>
          <tr>
           
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let producto of listadoProductos">
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
          </tr>
          
        </tbody>
    </table>
      
    
    <button id="cerrar" class="btn btn-success" (click)="CloseTable()">Cerrar mesa</button>
    <button class="btn btn-danger">Eliminar</button>
    <button id="agregar" (click)="RedirecctionToAddingProd()" class="btn btn-success">Agregar producto</button>
    <button class="btn btn-warning"(click)="UpdateMesaState('reservada')" id="reserva" *ngIf="listadoProductos.length <= 0">Reservar</button>
    
    
</div>


  

    

    


<h1 *ngIf="listadoProductos == undefined">
  La mesa no tiene pedidos

</h1>



