
.ocupada{
    background-color: rgb(244,115,121);
}
.libre
{
    background-color: rgb(192,192,192);
}
.reservada
{
    background-color: #ffc107;
}



#wrapper
{
    display: flex;
    flex-direction: row;
    
    width: 70%;
    height:auto;
    flex-wrap: wrap;
    margin-left: 14%;
    margin-right: 10%;

}
a h1
{
    padding:0;
}
.mesa
{
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
}
a:link
{
    text-decoration: none;
    
}
a
{color: #535252;}
a:hover
{
    text-decoration: none;
    color: black;
    border: 1px solid #535252;
    padding: 0;
}