<div id="wrapper">
    

    <a (click)="CargarViewMesaPedido(1)" class="ocupada mesa">
        <h1>1</h1>
    </a>
    <a (click)="CargarViewMesaPedido(1)" class="ocupada mesa">
        <h1>2</h1>
    </a>
    <a  (click)="CargarViewMesaPedido(1)" class="reservada mesa">
        <h1>3</h1>
    </a>
    <a (click)="CargarViewMesaPedido(1)" class="ocupada mesa">
        <h1>4</h1>
    </a>
    <a (click)="CargarViewMesaPedido(1)" class="libre mesa">
        <h1>5</h1>
    </a>
    <a (click)="CargarViewMesaPedido(1)" class="libre mesa">
        <h1>6</h1>
    </a>
    <a (click)="CargarViewMesaPedido(1)" class="libre mesa">
        <h1>7</h1>
    </a>
    <a (click)="CargarViewMesaPedido(1)" class="libre mesa">
        <h1>8</h1>
    </a>
    <a (click)="CargarViewMesaPedido(1)" class="libre mesa">
        <h1>9</h1>
    </a>
    <a (click)="CargarViewMesaPedido(1)" class="libre mesa">
        <h1>10</h1>
    </a>
    

    
  



</div>